$SunnyYellow: #F4C522;
$MainColor: #03153B;
$HoverBlue: #3676BD;
$SearchBar: #F3E7BA;
$TextFields: #D7DAE1;
$BackgroundWhite: #EBEBEB;
$SearchHover: rgb(244, 224, 135);
$FormFields: #d7e1ee;
$DeleteRed: rgb(196, 18, 18);
$DeleteRedHover: rgb(85, 10, 10);